.navbar {
    background: rgb(30, 30, 30);
    height: 4rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
}

.desktop-menu-item {
    margin: 1rem;
    cursor: pointer;
}

.desktop-menu-item:hover {
    color: rgb(248, 222, 34);
    padding-bottom: 0.3rem;
    border-bottom: 3px solid rgb(248, 222, 34);
}

.desktop-menu-btn {
    transition: all .5s ease;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 1rem;
}

.desktop-menu-btn:hover {
    background: rgb(248, 222, 34);
}

.desktop-menu-img {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 0.6rem;
}

.active {
    color: yellow;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid rgb(248, 222, 34);
}

.fa-bars {
    color: yellow;
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.burger-menu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40, 40, 40);
    border-radius: 1rem;
}

.menu-item {
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
    border-radius: 0.25rem;
}

@media screen and (max-width:720px) {
    .fa-bars {
        display: flex;
    }

    .desktop-menu, .desktop-menu-btn {
        display: none;
    }
}